.hanalei-fill-regular {
  font-family: "Hanalei Fill", system-ui;
  font-weight: 400;
  font-style: normal;
}
.BodyStyle{
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px;
}

.Header{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  font-size: xx-large;
}
.Logo{
  flex: 0 0 auto;
  width: 96px;
  height: 96px;
}

.Logo img{
  width: 100%;
  height: auto;
  display: block;
}
.Logo img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.Lead{
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  text-align: center;
}
.EventsTable{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
}
Table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
  border:  1px solid black;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
tr, th, td{
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th:hover, td:hover{
  background-color: #f0f0f0;
  transition: background-color 0.3s ease-in-out;
}
.BtnDodajContainer{
  text-align: center;
  margin-bottom: 32px;
  float: right;
}
.Footer{
  text-align: center;
  padding: 16px 0;
  font-size: small;
  color: gray;
}